@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F22%2F23%2FEfD0C5.jpg&f=1&nofb=1&ipt=b199cbcd01f1eb4a4a033c3f35bff707e30b6310f6144894727b291e6eedf859&ipo=images")
    no-repeat center center fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Retry {
  display: flex;
  align-items: center;
  justify-content: center;
  color: ghostwhite;
  height: 100px;
  width: 100px;
  font-family: lobster Two;
  font-size: 20px;
  font-weight: 100;
  background-image: url("../public/images/Game_Assest/retry-chip.png");
  background-size: contain;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  background-repeat: no-repeat;
  transition: all 1s ease;
  margin-block: 20px;
  cursor: pointer;
}
.Deal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 144px;
  color: white;
  font-family: lobster Two;
  font-weight: 100;
  background-image: url("../public/images/Game_Assest/card-back2.png");
  background-size: contain;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  background-repeat: no-repeat;
  transition: all 1s ease;
  margin-block: 20px;
  cursor: pointer;
}
.Retry:hover,
.Deal:hover {
  transform: scale(1.1);
  transition: all 0.7s ease;
}
